<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>El titulo cool!</title>
        <!-- ARCHIVOS MINIMOS NECESARIOS DEL BOWER -->
        <link href="../../public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="../../public/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../../public/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../public/bower_components/angular/angular.min.js" type="text/javascript"></script>

    </head>
    <body>


        <div style="position: absolute;top :0; height: 40px">
            <h3>This is the banner</h3>
            <br><a href="/logout">Logout</a>
        </div>


        <div style="margin-top: 60px;">
            {{{body}}}    
        </div>



        <div style="position: absolute;bottom: 0; height: 40px">
            <h3>This is the footer</h3>
        </div>

    </body>
</html>
